body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #105a49d3;
    backdrop-filter: blur(10px); 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 16px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    padding: 20px;
    text-align: center;
    width: 300px;
    margin: 80px auto; /* Adds top margin to account for fixed navbar */
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 14px 16px;
}

.nav-links a:hover {
    background-color: #bf3939;
}

.search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#cityInput {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#searchBtn {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #008113;
    }

    .nav-links.active {
        display: flex;
    }
}
